# Copy this file into application.yml and change env variables as necessary.

SECRET_KEY_BASE: 2a6f5f240dd92e607ac6fcc3ef911a2d829b64b3773f26d330153d73be399e3d9cbcca486f8cc177e67608a638b6dd5df6b6640151a93a4e2d91c904777c6b62
DEVISE_SECRET_KEY: 982c9bb8e0e0bb8d57e40705d9dcfb477fddaf7a279a2dc78cf4fb9c36c649c03ee9b83c36ea2433970d39365c8ca1ca696754bdd19bd3140a44c01aa5b5831e

# Email config
SMTP_ADDRESS: <your smtp address>
SMTP_DOMAIN: <your domain>
SMTP_PASSWORD: <api_key>
SMTP_USERNAME: <user_name>

# Staging will send emails to this address
EMAIL_RECIPIENTS: ~

# Rollbar access token; change both to match your own rollbar project
ROLLBAR_ACCESS_TOKEN: <api_key>

# Google analytics key; update once you set it up
# Disabled in development and test
GA_KEY: ~

production:
  ROLLBAR_ACCESS_TOKEN: <production_api_key>
  GA_KEY: <GA_token>

staging:
  EMAIL_RECIPIENTS: <your_email>
